[submodule "/Users/malilafreeman/desktop/RelevantProjects/LearningManagementSystem"]
	path = /Users/malilafreeman/desktop/RelevantProjects/LearningManagementSystem
	url = https://github.com/malilafreeman/LMSPhase3
